<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="~/LayoutDefault/assets/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://suustore.com/LayoutDefault/assets/frontend/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/LayoutDefault/assets/app.css">

    @* <script>
        window.SuuTruyen = {
            baseUrl: 'https://suustore.com',
            urlCurrent: 'https://suustore.com',
            csrfToken: '4EebYu2rWivdRk1ET12dyuY0CJjpRERhJynPtvUy'
        }
    </script> *@
    <title>Demo Truyện</title>
    <meta name="description"
          content="Đọc truyện online, truyện hay. Demo Truyện luôn tổng hợp và cập nhật các chương truyện một cách nhanh nhất.">
</head>
<body>
    @await Html.PartialAsync("_Header")

    @RenderBody()


    @await Html.PartialAsync("_Footer")

    @RenderSection("Scripts", required: false)

    <script src="~/LayoutDefault/assets/jquery.min.js">
    </script>

    <script src="~/LayoutDefault/assets/popper.min.js">
    </script>

    <script src="~/LayoutDefault/assets/bootstrap.min.js">
    </script>



    <script src="~/LayoutDefault/assets/app.js">
    </script>
    <script src="~/LayoutDefault/assets/common.js"></script>



    <div id="loadingPage" class="loading-full">
        <div class="loading-full_icon">
            <div class="spinner-grow"><span class="visually-hidden">Loading...</span></div>
        </div>
    </div>
   
</body>
</html>
